<%- include("partials/header.ejs") %> 

<body>

<%- include("partials/navbar.ejs") %> 
<%- include("partials/hero.ejs") %> 

    <div class="news-container ">
        <div class="news ">

            <% articles.forEach(function(article,index){ %>

                <% if ((typeof article.url=='object') || (typeof article.title=='object') || (typeof article.urlToImage=='object') || (typeof article.content=='object')){ %>
                    <% } else{ %>
                        <a href="<%- article.url %>" target="_blank" class="news-box Hover-effect">

                            <img src="<%- article.urlToImage %>" alt="Image" style="border: 2px solid white; border-radius: 9px; margin-bottom: 5px;">
                            <h3 >
                                <%- article.title %>
                            </h3>


                            <p>
                                <%- article.content.replace(/<[^>]+>/g, '') %>
                            </p>
                            <br>
                            <p style="margin-bottom: 0px; position: absolute; right: 0; bottom: 0; font-family: ui-monospace;">Updated: <span style="color:aqua; padding: 2px 4px;" ><%- new Date(article.publishedAt.slice(0,10)).toDateString() %>    <%- moment.utc(article.publishedAt).local().format('hh : mm A') %> </span></p>


                        </a>
                        <% } %>
                        <% }) %>
        </div>
    </div>
    <%- include("partials/footer.ejs") %> 


<script src="moment.js"></script>
<script src="moment-timezone-with-data.js"></script>
<script>
    var today = new Date();
    var yesterday = new Date(today);
    yesterday.setDate(today.getDate() - 1);
    var yesterdayFormatted = yesterday.toISOString().split('T')[0];

    document.getElementById('start').value = yesterdayFormatted;
    document.getElementById('end').value = yesterdayFormatted;

    document.getElementById('start').max = yesterdayFormatted;
    document.getElementById('end').max = yesterdayFormatted;

</script>

</body>

</html>